.activities {

  ul {
    list-style-type: none;
    margin-left: 0;
  }

  li {
    .border-widget {
      border-top: solid thin rgba(0,0,0,0.2);
      border-bottom: solid thin rgba(0,0,0,0.2);
    }

    .activities-widget {
      padding-top: 10px;
      padding-bottom: 10px;

      img {
        margin-right: auto;
        margin-left: auto;
        display: block;
        border-radius: 50%;
        height: 50px;
        width: 50px;
      }

      .text {
        font-size: 14px;

        a {
          color: rgba(206,199,236,1);
        }
      }
    }
  }
}