<div class="activities">
    <h2>Pending Activities</h2>
    <ul>
        <li ng-repeat="activity in pendingActivities">
            <div class="activities-widget row collapse">
                <div class="pic small-12 columns">
                    Pending request to {{activity | actionFilter}}
                    <br>
                    <a ng-click="removeActivity(activity)">Cancel?</a>
                </div>
            </div>
        </li>
    </ul>

    <h2>History</h2>
    <ul>
        <li>
            <div class="border-widget activities-widget row collapse">
                <div class="text small-12 columns">
                    Hang out at a party with Elliot.<br>
                    <span class="secondary radius label">Mood After</span><rating value="rate" max="5" on-leave="overStar = null" class="rating"></rating>
                    <br>
                    <span class="secondary radius label">Mood Before</span><rating value="rate" max="5" on-leave="overStar = null" class="rating"></rating>

                    <!--{{activity.attributes.creatingUser.attributes.name}} wants to
                    {{activity | actionFilter}}<br>
                    This offer's good through <strong>{{ activity.attributes.expirationDate | date : 'h:s a'}}</strong>.-->
                </div>
            </div>
        </li>
    </ul>

</div>