.feed {
  ul {
    list-style-type: none;
    margin-left: 0;
  }

  li {
    &:nth-child(odd) {
      .feed-widget {
        background-color: whitesmoke;
      }
    }

    &:nth-child(even) {
      .feed-widget {
        background-color: rgba(206,199,236,1);
      }

      .text {
        font-size: white;
      }
    }

    .feed-widget {
      padding-top: 10px;
      padding-bottom: 10px;

      img {
        margin-right: auto;
        margin-left: auto;
        display: block;
        border-radius: 50%;
      }

      .text {
        font-size: 14px;
      }
    }
  }
}