<div class="do">
    <div class="row">
        <h2>I'm up <span class="purple-accent">for...</span></h2>

        <div class="large-12 columns">
            <select class="radius" ng-model="myAction">
                <option value="Hanging Out">Hanging out</option>
                <option value="Staying In">Staying in</option>
            </select>
        </div>

        <div class="large-12 columns">
            <select ng-model="actionExample" ng-options="value for value in actionExamples">
            </select>
        </div>
    </div>

    <div class="row">
        <h2>with some of <span class="purple-accent">my...</span></h2>

        <div class="large-12 columns">
            <select class="radius" ng-model="myGroup" ng-options="value.attributes.name for value in groups">
            </select>
        </div>

        <h2>since I'm free <span class="purple-accent">for...</span></h2>

        <div class="large-12 columns">
            <select class="radius" ng-model="myWindow">
                <option value=60>1 hour</option>
                <option value=120>2 hours</option>
                <option value=180>3 hours</option>
                <option value=240>4 hours</option>
                <option value=480>All day</option>
            </select>
        </div>
    </div>

    <a class="button tiny radius" ng-click="create()">SUBMIT</a>
</div>