<div class="do">
    <header>
        <h1>How about I...</h1>

            <div class="row">
                <div class="large-12 columns">
                    <select class="radius" ng-model="myAction">
                        <option value="Hang Out">Hang Out</option>
                        <option value="Stay In">Stay In</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="large-12 columns">
                    <input class="radius" type="text" placeholder="Bake a cake..." />
                </div>
            </div>
            <a class="button tiny radius" ng-click="create()">SUBMIT</a>
    </header>
</div>