@import "do/do";
@import "talk/talk";
@import "overview/overview";

.give {
  height: 100%;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 25px;
  margin-right: auto;
  margin-left: auto;
}