$white: white;

$light-weight: 300;
$medium-weight: 500;
$heavy-weight: 600;

@import "app_style/foundation";

/*Global Style Variables*/

$brand-blue: rgb(55, 144, 210);
$brand-green: #51D2B7;

$light-gray:lightgray;
$dark-gray:darkgray;

/*
Typography
*/

$body-font-size: 16px;
$heading-font-size: 36px;
$secondary-heading-font-size: 18px;
$button-font-size: 20px;

html, body{
  font-family: 'Avenir W01';
  height: 100%;
  overflow-x: hidden;
}

.overflowHidden{
  overflow: hidden;
}

h1 {
  text-align: center;
  color: rgba(206,199,236,1);
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 20px;
  margin-top: 20px;

  @media only screen and (max-width: 40em) {
    font-size: 30px;
  }
}

h2 {
  font-size: 21px;
  text-align: center;
  font-weight: 100;
  color: rgba(0,0,0,0.5);
  padding-left: 15px;
  padding-bottom: 5px;
}

.purple-accent {
  color: rgb(202, 187, 224);
}

.light-purple-accent {
  color: rgba(193,191,234,1);
}

h3{
  font-weight: 200;
  font-size: 24px;
}

@mixin purple-gradient() {
  background: rgb(193,191,234); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(193,191,234,1) 0%, rgba(206,199,236,1) 2%, rgba(235,233,249,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(193,191,234,1)), color-stop(2%,rgba(206,199,236,1)), color-stop(100%,rgba(235,233,249,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(193,191,234,1) 0%,rgba(206,199,236,1) 2%,rgba(235,233,249,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(193,191,234,1) 0%,rgba(206,199,236,1) 2%,rgba(235,233,249,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(193,191,234,1) 0%,rgba(206,199,236,1) 2%,rgba(235,233,249,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(193,191,234,1) 0%,rgba(206,199,236,1) 2%,rgba(235,233,249,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1bfea', endColorstr='#ebe9f9',GradientType=0 ); /* IE6-9 */
}

.button {
  width: 100%;
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 21px !important;
  font-weight: 400;
  color: white;
  letter-spacing: 1px;
}
