@import "app_style";
@import "../app/about/about";
@import "../app/activities/activities";
@import "../app/dashboard/dashboard";
@import "../app/give/give";
@import "../app/login/login";
@import "../app/receive/receive";
@import "../app/settings/settings";

.inner-wrap{
  height: 100%;
}

.title-link{
  cursor: pointer;
}

.page-content{
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 45px);
  padding-left: 20px;
  padding-right: 20px;
 // margin: auto;
  //max-width: 800px;
  padding-top: 20px;

  @media #{$small-only} {
    padding-left: 10px;
    padding-right: 10px;
  }

  @media(min-width: 800px){
    padding-left: calc(50% - 400px);
    padding-right: calc(50% - 400px);
  }
}

