.dashboard {
  height: 100%;
  padding-top: 150px;
  background: rgb(193,191,234); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(193,191,234,1) 0%, rgba(206,199,236,1) 2%, rgba(235,233,249,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(193,191,234,1)), color-stop(2%,rgba(206,199,236,1)), color-stop(100%,rgba(235,233,249,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(193,191,234,1) 0%,rgba(206,199,236,1) 2%,rgba(235,233,249,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(193,191,234,1) 0%,rgba(206,199,236,1) 2%,rgba(235,233,249,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(193,191,234,1) 0%,rgba(206,199,236,1) 2%,rgba(235,233,249,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(193,191,234,1) 0%,rgba(206,199,236,1) 2%,rgba(235,233,249,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1bfea', endColorstr='#ebe9f9',GradientType=0 ); /* IE6-9 */

  header {
    margin-right: auto;
    margin-left: auto;
    width: 550px;

    @media only screen and (max-width: 40em) {
      width: 100%;
      padding: 30px;
    }

    h1 {
      text-align: center;
      color: white;
      //text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
      font-weight: 100;
      text-transform: uppercase;

      @media only screen and (max-width: 40em) {
        font-size: 24px;
      }
    }
  }

  .button {
    width: 100%;
    display: block;
    margin-top: 25px;
    font-size: 24px;
  }
}