<div class="group">
    <h2>{{group.attributes.name}}</h2>
    <div class="row collapse">
        <div class="small-10 columns">
            <input type="text" ng-model="selectedFriend" placeholder="Add A Friend" typeahead="friend as friend.name for friend in availableFriends | filter:{name:$viewValue}" typeahead-template-url="settings/group/friendtemplate.tpl.html" class="form-control friend-picker">
        </div>
        <div class="small-2 columns">
            <a class="button postfix" ng-click="addFriend(selectedFriend.id)">Add</a>
        </div>
    </div>

    <div class="friend row collapse" ng-repeat="friend in group.attributes.friends">
        <div class="small-2 column img-container"><img class="img-responsive" ng-src="http://graph.facebook.com/{{friend.attributes.facebookId}}/picture"></div>
        <div class="small-10 column info">{{friend.attributes.name}}</div>
        <div class="small-12 column">
            <button class="button" ng-click="removeFriend(friend)">Remove Friend</button>
        </div>
    </div>
</div>