<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>Groups</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

    <!-- Include Fonts -->
    <script type="text/javascript" src="http://fast.fonts.net/jsapi/85d39fe6-2b40-47f5-b749-dba50d16d11f.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body ng-app="app" ng-controller="AppCtrl" class="off-canvas-wrap">
<div class="inner-wrap">
    <nav class="tab-bar" ng-show="!isLogin($state)">
        <section class="left-small">
            <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
        </section>

        <section class="middle tab-bar-section">
            <h1 class="title title-link" ui-sref="dashboard">GROUPS</h1>
        </section>
    </nav>

    <aside class="left-off-canvas-menu">
        <ul class="off-canvas-list">
            <li><a href="#" ui-sref="give">Give</a></li>
            <li><a href="#" ui-sref="receive">Receive</a></li>
            <li><a href="#" ui-sref="activities">Activities</a></li>
            <li><a href="#" ui-sref="settings">Settings</a></li>
            <li><a href="#" ui-sref="about">About</a></li>
            <li><a href="#" ng-click="logout(true)">Logout</a></li>
        </ul>
    </aside>
    <main ui-view class="page-content"></main>
    <a class="exit-off-canvas"></a>
    </div>
</body>
</html>